<div class="banner" *ngIf="moviedetails"
    [style.backgroundImage]="'linear-gradient(90deg, black 20%, transparent),url(https://image.tmdb.org/t/p/original/'+ moviedetails.poster_path + ' )'">
    <!-- <img src="https://image.tmdb.org/t/p/original/{{this.moviedetails.poster_path}}" alt=""> -->

    <div class="caption">
        <h3>
            {{moviedetails.title || moviedetails.original_title}}
        </h3>
    </div>
</div>




<div class="trailers py-4">
    <div class="container">
        <div class="row">
            <div class="col-12"> 
                <mat-tab-group>
                    <mat-tab label="OverView">
                            <app-over-view [movie]="moviedetails"></app-over-view>
                    </mat-tab>
                    <mat-tab label="Videos">
                        <div class="container mt-4">
                            <div class="row">
                                <div class="col-md-6 mb-4" *ngFor="let movie of moviesTrailers">
                                    <app-embedvideo [site]="movie.site" [key]="movie.key" ></app-embedvideo>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Images">
                        <app-movie-photos></app-movie-photos>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>



<div class="trailer-container" *ngIf="trailerUrl">
    <button class="btn btn-danger closemodal" (click)="trailerUrl = '' ">close</button>
    <iframe width="560" height="315" [src]="trailerUrl" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
</div>


<!-- <div class="col-md-6 mb-1" *ngFor="let trailer of moviesTrailers">
    <p class="alert alert-info trailername" (click)="runTrailer(trailer.key)">
        {{trailer.name}}
    </p>
</div> -->


